<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="container page-content-container">
    <h2 class="text-light"><%= title.toUpperCase() %></h2>
    <form id="projects-filter-form" action="/projects" method="GET">
        <div class="form-row no-gutters">
            <div class="col-lg-1 col-md-1 col-sm-1">
                <a class="btn text-light btn-back btn-back" href="#" onclick="history.go(-1)"><i class="fas fa-arrow-left"></i></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="input-group">
                    <div class="input-group-append">
                        <span class="input-group-text bg-dark text-light" id="basic-addon2">Category</span>
                    </div>
                    <select id="category-select" name="category" id="category-select" class="custom-select" onchange=this.form.submit()>
                        <option value=""></option>
                        <option value="">All</option>
                        <option value="Web Development">Web Development</option>
                        <option value="E-Commerce">E-Commerce</option>
                        <option value="Sound Design">Sound Design</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-5"></div>
        </div>
    </form>
</div>
<div class="container projects-grid bg-dark">
    <div class="row projects-row">
        <% include ../loader/transLoad %>
        <% for(var i in projects){ %>
            <div class="col-xs-12 col-xl-3 col-lg-6 col-md-6 col-sm-12 project-col ">        
                <div class="card project-card">
                    <a href="/projects/<%= projects[i].id %>" draggable="false">
                        <div class="card-img project-grid-img" style="background-image:url('<%=projects[i].img %>')" draggable="false"></div>
                    </a>
                    <div class="card-body project-card-body text-light">
                        <div class="card-body-content">
                            <a class="text-light" href="/projects/<%= projects[i].id %>" draggable="false">
                                <h5 class="card-title project-card-title"><%= projects[i].title.toUpperCase() %></h5>
                            </a>
                            <p class="card-text project-card-text text-info"><%= projects[i].category %></p>
                            <p class="card-text text-light"><%= projects[i].description %></p>
                        </div>
                        <div class="card-body-footer">
                            <% if (projects[i].Icon ){ %>
                                <a target="_blank" class="text-secondary" href="<%= projects[i].link %>" draggable="false"><div class="card-body-footer-icon">
                                    <%- projects[i].Icon.code %>
                                </div></a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
        <script src="scripts/transloader.js"></script>
        <% include ../partials/footer %>