<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../loader/transLoad %>
<!-- Page Header -->
<div class="fluid-container project-top-header">
    <div class="row">
        <div class="col-12">
            <div class="project-banner text-center" style="background-image: url('<%= project.img %>')"></div>
        </div>
    </div>
    <div class="row  controls-row text-light no-gutters bg-light text-dark">
        <div class="col-lg-2 col-md-3 col-sm-2 col-xs-3">
            <a class="btn btn-lg btn-link bg-light text-dark btn-back" href="/projects"><i class="fas fa-arrow-left"></i></a>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-8 col-xs-6 text-center">
            <% if(icon != null){ %>
                <a class="text-center project-link" href="<%= project.link %>"><div><%- icon.code %> <%= icon.phrase.toUpperCase() %></div></a>
                <% } %>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-3"></div>
        </div>
    </div>
    <!-- Content & Title -->
    <div class="container project-content-container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center text-dark">
                <h2><%= project.title.toUpperCase() %></h2>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row project-description-row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center text-dark">
                <h5><%= project.description %></h5>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <% if(project.content){ %>
            <div class="row project-content-row">
                <div class="col-12 text-dark">
                    <p><%= project.content %></p>
                </div>
            </div>
            <% } %>
        </div>
        <!-- Features -->
        <% if (project.features && project.features.length > 0){ %>
            <div class="container project-features-container">
                <div class="row bg-dark text-light">
                    
                </div>    
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <ul class="list-group features-list">
                            <li class="list-group-item feature-item bg-info">FEATURES</li>
                            <% project.features.forEach((feat)=> { %>
                                <li class="list-group-item feature-item"><%= feat %></li>
                                <% }) %>
                            </ul>
                        </div>
                        <% if (project.Technologies.length > 0) { %>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <li class="list-group-item feature-item bg-warning">SHAMELESS NAME DROPING...</li>
                                <div class="row">
                                    <% project.Technologies.forEach((tech)=>{ %>
                                        <div class="col-6">
                                            <a target="_blank" href="<%= tech.link %>">
                                                <div class="card tech-card bg-dark text-white">
                                                    <div class="card-header text-center"><%= tech.title %></div>
                                                    <div class="card-img tech-card-img" style="background-image: url('<%= tech.img %>')" draggable="false"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <% }) %>   
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <%}%>
                    
                    <script src="../../scripts/transloader.js"></script>
                    <% include ../partials/footer %>