<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../loader/transLoad %>
<!-- Page Header -->
<div class="fluid-container project-top-header">
    <div class="row">
        <div class="col-12">
            <div class="project-banner text-center" style="background-image: url('<%= project.img %>')"></div>
        </div>
    </div>
    <div class="row  controls-row text-light no-gutters bg-light text-dark">
        <div class="col-2">
            <a class="btn btn-lg btn-link text-dark btn-back" href="/projects"><i class="fas fa-arrow-left"></i></a>
        </div>
        <div class="col-8 text-center project-link-wrapper">
            <% if(icon != null){ %>
                <a target="_blank" class="text-center project-link" href="<%= project.link %>"><div class="project-link-text"><%- icon.code %> <%= icon.phrase.toUpperCase() %></div></a>
                <% } %>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <!-- Content & Title -->
    <div class="container project-content-container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center text-dark">
                <h2><%= project.title.toUpperCase() %></h2>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row project-description-row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center text-dark">
                <h5><%= project.description %></h5>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <% if(project.content){ %>
            <div class="row project-content-row">
                <div class="col-12 text-dark">
                    <p><%= project.content %></p>
                </div>
            </div>
            <% } %>
        </div>
        <!-- Features -->
        <% if (project.features && project.features.length > 0){ %>
            <div class="container feat-tech-container">   
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-12 features-col">
                        <ul class="list-group features-list">
                            <li class="list-group-item feature-item bg-info">FEATURES</li>
                            <% project.features.forEach((feat)=> { %>
                                <li class="list-group-item feature-item"><%= feat %></li>
                                <% }) %>
                            </ul>
                        </div>
                        <% if (project.Technologies.length > 0) { %>
                            <div class="col-lg-4 col-md-6 col-xs-6 tech-col">
                                <li class="list-group-item feature-item bg-warning">SHAMELESS NAME DROPING...</li>
                                <div class="row no-gutters">
                                    <% project.Technologies.forEach((tech)=>{ %>
                                        <div class="col-4">
                                            <div class="card tech-card bg-dark text-white">
                                                <div class="tech-card-img-wrapper bg-light">
                                                    <div class="card-img tech-card-img" style="background-image: url('<%= tech.img %>')" draggable="false"></div>
                                                </div>
                                                <div class="card-img-overlay tech-img-overlay">
                                                    <h5 class="card-title tech-card-title"><%= tech.title.toUpperCase() %></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>   
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <%}%>
                        
                        <script src="../../scripts/transloader.js"></script>
                        <% include ../partials/footer %>