<% include ../partials/header %>
<% include ../loader/transLoad %>
<% include ../partials/navbar %>
<div class="container page-content-container">
    <% include ../user/panel %>
    <div class="row">
        <div class="col col-lg-4 col-md-12">
            <img class="img-thumbnail" src="<%= project.img %>" alt="<%= project.title %> image">
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-8 col-md-12">
            <form action="/user/<%= user.id %>/projects/<%= project.id %>?_method=PUT" method="POST">
                <% include ../forms/editProject.ejs %>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <form action="/user/<%= user.id %>projects/<%= project.id %>?_method=DELETE" method="POST">
                <input type="hidden" name="_csrf" value="<%=csrf%>">
                <button class="btn btn-danger del-btn">DELETE</a>
            </form>
        </div>
    </div>
</div>
<script src="/scripts/transloader.js"></script>
<script src="/scripts/user_controls.js"></script>
<% include ../partials/footer %>