<% include ../partials/header %>
<% include ../loader/load %>
<% include ../partials/navbar %>
<div class="fluid-container page-content-container">
    <div class="row">
        <div class="col">
            <a class="btn btn-info" href="/admin">Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6">
    <h1>Edit: <%= project.title %></h1>
    <form action="/admin/projects/<%= project.id %>?_method=PUT" method="POST">
        <% include ../forms/editProject.ejs %>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <form action="/admin/projects/<%= project.id %>?_method=DELETE" method="POST">
        <input type="hidden" name="_csrf" value="<%=csrf%>">
        <button class="btn btn-danger del-btn">DELETE</a>
    </form>
    </div>
    <div class="col col-lg-6">
        <img class="img-thumbnail" src="<%= project.img %>" alt="<%= project.title %> image">
    </div>
    </div>
</div>
<script src="/scripts/project.js"></script>
<% include ../partials/footer %>