<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../loader/transLoad %>
<!-- Page Header -->
<div class="fluid-container project-top-header">
    <div class="row">
        <div class="col-12">
            <div class="project-banner text-center" style="background-image: url('images/profileCarousel/p1.jpg')"></div>
        </div>
    </div>
    <div class="row  controls-row text-light no-gutters bg-light text-dark">
        <div class="col-lg-2 col-md-3 col-sm-2 col-xs-3">
            <a class="btn btn-lg btn-link bg-light text-dark btn-back" href="/"><i class="fas fa-arrow-left"></i></a>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-8 col-xs-6 text-center">
            <a class="text-center project-link" href="#"><div class=""><%= title.toUpperCase() %></div></a>
            
            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-3"></div>
        </div>
    </div>
    <!-- Content & Title -->
    <div class="container bio-content-container">
        <h5>HI!</h5>
        <div class="row cv-bio-row">
            <div class="col-12 text-dark">
                <p><%- user.bio %></p>
                <p>Best Regards,</p>
                <p class="autograph"><%= user.firstName%> <%= user.lastName%></p>
                <hr />
                    <a href="/projects" class="btn btn-success">Project Gallery</a>
                <% if (jobs.length > 0) { %>
                    <button class="btn btn-info" onclick="document.getElementById('workxp').scrollIntoView({behavior:'smooth', block: 'start', inline: 'nearest'})">Work Experience</button>
                    <button class="btn btn-danger" onclick="document.getElementById('education').scrollIntoView({behavior:'smooth', block: 'start', inline: 'nearest'})">Education</button>
                <% } %>
            </div>
        </div>
    </div>
    <!-- WORK -->
    <div class="container cv-jobs bg-dark">
        <% if (jobs.length > 0) { %>
            <h3 id="workxp" class="text-light">Work Experience</h3>
            <% jobs.forEach((job)=>{ %>
                <div class="card job-card">
                    <div class="card-header bg-info text-light">
                        <%- job.title.toUpperCase() %>
                    </div>
                    <div class="card-body bg-light text-dark">
                        <h4 class="card-title"><strong>@ </strong><%= job.company %></h4>
                        <h5 class="card-text"><strong>TL;DR</strong></h5>
                        <p><%= job.description %></p>
                        <hr>
                        <!-- Features -->
                        <% if (job.features) { %>
                            <ul class="list-group">
                                <% job.features.forEach((feature)=>{ %>
                                    <% if (feature.length > 0) { %>
                                        <li class="list-group-item"><i class="far fa-dot-circle"></i> <%- feature %></li>
                                        <% } %>
                                        <% }) %>
                                    </ul>
                                    <% } %>
                                    <p class="card-text job-content"><%- job.content %></p>
                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                </div>
                                <!-- DATES -->
                                <% if (job.start_date || job.end_date) {%>
                                    <div class="card-footer bg-secondary text-light">
                                        <% if (job.start_date) { %>
                                            <span class="job-date-text">FROM</span><%= job.start_date %>  
                                            <% } %>
                                            <% if (job.end_date) { %>
                                                <span class="job-date-text">TO</span><%= job.end_date %>
                                                <% } %>
                                            </div>
                                            <% } %>
                                        </div>
                                        <% }) %>
                                    </div>
                                    <% } %>
                                    <!-- Features -->
                                    <div class="container project-features-container">
                                        <div class="row bg-dark text-light">
                                            
                                        </div>    
                                        <div class="row">
                                            <div id="education" class="col-lg-6 col-md-6 col-sm-12">
                                                <ul class="list-group features-list">
                                                    <li class="list-group-item feature-item bg-danger text-light">Education</li>
                                                    <li class="list-group-item feature-item">Sound School- 3 Years Sound Engineering</li>
                                                    <li class="list-group-item feature-item">Udemy -Web Developer Bootcamp</li>
                                                    <li class="list-group-item feature-item">Udemy - Python Bootcamp</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <ul class="list-group features-list">
                                                    <li class="list-group-item feature-item bg-danger text-light">My Arsenal</li>
                                                    <li class="list-group-item feature-item">ProTools, Cubase, Ableton</li>
                                                    <li class="list-group-item feature-item">Photoshop, Premire</li>
                                                    <li class="list-group-item feature-item">Full Stack NodeJS, Express, MongoDB, Postgres</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <script src="../../scripts/transloader.js"></script>
                                    <% include ../partials/footer %>