<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text text-light bg-dark" id="basic-addon1">Title:</span>
    </div>
    <input name="title" type="text" class="form-control" placeholder="" aria-label="Title"
    aria-describedby="basic-addon1" value="<%= project.title %>" autofocus required>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text text-light bg-dark" id="basic-addon1">Description:</span>
    </div>
    <input name="desc" type="text" class="form-control" placeholder="" aria-label="Description"
    aria-describedby="basic-addon1" value="<%= project.description %>">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text text-light bg-dark" id="basic-addon1">Current Category:</span>
    </div>
    <select name="category" class="custom-select">
        <option value="<%= project.category %>"><%= project.category %></option>
        <option value="Web Development">Web Development</option>
        <option value="E-Commerce">E-Commerce</option>
        <option value="Sound Design">Sound Design</option>
    </select>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text text-light bg-dark" id="basic-addon1">Image</span>
    </div>
    <input name="img" type="text" class="form-control" placeholder="Add image url" aria-label="image"
    aria-describedby="basic-addon1" value="<%= project.img %>">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text text-light bg-dark" id="basic-addon1">Link</span>
    </div>
    <input name="link" type="url" class="form-control" placeholder="Link to project" aria-label="url" aria-describedby="basic-addon1"
    value="<%= project.link %>">
</div>
<div class="input-group input-group-lg mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text text-light bg-dark" for="inputGroupSelect01">Link Icon</label>
    </div>
    <select name="icon" class="custom-select" id="inputGroupSelect01">
        <option selected>SELECTED</option>
        <% icons.forEach((icon)=>{ %>
            <option value="<%= icon.id %>"><%=icon.title.toUpperCase() %></option>
        <% })%>
    </select>
</div>
<h5 class="text-light">Features</h5>
<div class="input-group-block project-features">
    <ul id="feature-list" class="list-group">
        <%  if( project.features ) { project.features.forEach((feat)=>{ %>
            <li class="list-group-item feature-item" draggable="false"><i class="fas fa-trash delete-feature-icon text-danger"></i><%= feat.trim() %></li>
            <% })} %>
            
        </ul>
    </div>
    <div class="input-group mb-3">
        <input class="form-control" type="text" name="" id="add-feature-input">
        <div class="input-group-append">
            <button class="btn btn-outline-light" id="add-feature">ADD</button>
        </div>        
    </div>
    <input id="featuresInput" class="bg-dark text-light" type="hidden" name="features" value="<% if( project.features ) { project.features.forEach((feat)=>{ %><%= feat.trim() %>;<% })} %>">
    <h5 class="text-light">Content</h5>
    <div class="form-group">
        <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="About the project"><%= project.content %></textarea>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    