<div class="user-panel">
    <h2 class="user-title text-dark bg-light"><a class="title-link" href="/user">User Panel</a></h2>
    <p class="text-light">Welcome
        <% if(user.firstName){ %>
            <%= user.firstName %>
            <%} else { %>
                <%= user.username %>
                <% } %>
                <a href="/user/<%= user.id %>/edit" class="btn bg-dark text-light">Edit profile</a>
                <a href="/logout" class="btn bg-dark text-light">Logout</a>
            </p>
            <div class="user-controls">
                <a class="btn btn-lg btn-link bg-dark text-light btn-back" href="#"><i class="fas fa-arrow-left" onclick="history.go(-1)"></i></a>
                <a class="btn bg-dark text-light" href="/user/<%= user.id %>/messages/">Messages</a>
                <a class="btn bg-dark text-light" href="/user/<%= user.id %>/projects/">Projects</a>
                <a href="/user/<%= user.id %>/jobs/" class="btn bg-dark text-light">Jobs</a>
            </div>
        </div>